DB_SERVER=localhost\SQL2022
DB_NAME=helpdesk_uia
DB_USER=app_helpdesk
DB_PASSWORD=cambiar_esta_password
DB_DRIVER={ODBC Driver 17 for SQL Server}

SECRET_KEY=generar_una_clave_larga_y_aleatoria
FLASK_DEBUG=False
